/* Set box-sizing for us to set width and height more conveniently. */
body {
  box-sizing: border-box;
}

/*  Set styling and to justify elements. */
.bucketlist-container {
  background-image: url("/image/80808.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #585554aa;
  font-weight: bold;
  margin: auto;
  width: 100%;
}

/* Set a back background color to match the background-image. */
.bucketlist-wrap {
  background-color: #0808078b;
  width: 70vw;
  margin: 1% auto;
  text-align: left;
  color: white;
  padding: 1%;
  font-size: 10px;
}

/* Set styles to the fieldset to let it match to survey-wrap div. */
fieldset {
  margin: 5%;
  border-radius: 5px;
}

/* Set styles to the input's placeholder. */
input::placeholder {
  color: rgba(239, 216, 204, 0.793);
  font-style: italic;
}

/* Set styles to the input. */
#getCityName {
  margin-top: 15px;
  margin-left: 10%;
  background-color: #dfd4d043;
  color: rgb(242, 155, 109);
  border: 1px solid #110c0a6f;
  width: 50%;
  height: 35px;
  border-radius: 3px;
  padding-left: 8px;
}

/* Set styles to the input on hover. */
#getCityName:hover {
  background-color: #ffffff43;
  color: rgb(242, 155, 109);
  border: 1px solid #f64804c5;

}


/* Set styles to the Add City bottom.*/
#cityNamebtn {
  width: 30%;
  height: 35px;
  background-color: #f95616c5;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

/* Change the styles of submit bottom on hover.*/
#cityNamebtn:hover {
  transition: 0.1s ease;
  background-color: #dfd4d043;
  color: #f64804c5;
  border: 1px solid #f64804c5;
  cursor: pointer;
}

/* Set styles to task div.*/
.task {
  background-color: rgb(228, 223, 221);
  width: 75%;
  height: 30px;
  margin-bottom: 8%;
  margin-left: 12%;
  padding-bottom: 20px;
  border-radius: 5px;
  padding-left: 5px;
}

/* Change the style of task div on hover.*/
.task:hover {
  transition: 0.2s ease;
  background-color: #fcfcfc43;
  border: 1px solid #f64804c5;
  padding-top: 9px;
}

/* Set styles to cityName div for input's value.*/
.cityName {
  color: #f64804c5;

}

/* Set styles to the Add City bottom.*/
#sortCitiesbtn {
  transition: 0.2s ease;
  margin-bottom: 10px;
  margin-left: 12px;
  width: 70px;
  height: 35px;
  background-color: #07ab6cc5;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
}

/* Change the styles of submit bottom on hover.*/
#sortCitiesbtn:hover {
  transition: 0.1s ease;
  background-color: #dfd4d043;
  color: #07ab6cc5;
  border: 2px solid#07ab6cc5;
  cursor: pointer;
}

#message{
  margin: 5%;
}

/* Small devices (portrait tablets and large phones, 400px and up) */
@media only screen and (min-width: 425px) {
  .bucketlist-wrap {
    width: 60vw;
    font-size: 10px;
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .bucketlist-wrap {
    width: 50vw;
    font-size: 12px;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .bucketlist-wrap {
    width: 45vw;
    font-size: 13px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .bucketlist-wrap {
    width: 40vw;
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .bucketlist-wrap {
    width: 30vw;
    font-size: 14px;
  }
}

/* Extra large devices (large laptops and desktops, 1600px and up) */
@media only screen and (min-width: 1600px) {
  .bucketlist-wrap {
    width: 25vw;
    font-size: 14px;
  }
}

@media only screen and (min-width: 1800px) {
  .bucketlist-wrap {
    width: 23vw;
    font-size: 14px;
  }
}