body {
    box-sizing: border-box;
  }
  /*  Set styling and to justify elements. */
  .contact-container {
    color: #585554aa;
    font-weight: bold;
    margin:0 auto;
    height: auto;
    width: 100%;
    font-size: 12px;
  }
  
  /* Set a back background color to match the background-image. */
  .contact-wrap {
    width: 80vw;
    margin: 0 auto;
    height: 70vh;
    text-align: left;
  }

    /* Set the from aligning in the center. */
  fieldset{
    margin: 0 auto;
    width: 75vw;
  }

  #show {
    width: 300px;
   } 
   
   #hide {
    width: 200px;
   }
   
  /* Medelstora devices (portrait tablets and large phones, 1000px and up) */
  @media only screen and (min-width: 600px) {
     fieldset{
       width: 50vw;
     }
   }
 
     /* Medelstora devices (portrait tablets and large phones, 1000px and up) */
  @media only screen and (min-width: 768px) {
    fieldset{
      width: 45vw;
    }
  }


  /* Medelstora devices (portrait tablets and large phones, 1000px and up) */
  @media only screen and (min-width: 1000px) {
    fieldset{
      width: 35vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    fieldset{
      width: 30vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 1440px and up) */
  @media only screen and (min-width: 1440px) {
    fieldset{
      width: 22vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 1600px and up) */
  @media only screen and (min-width: 1600px) {
    fieldset{
      width: 25vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 1870px and up) */
  @media only screen and (min-width: 1870px) {
    fieldset{
      width: 20vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 2560px and up) */
  @media only screen and (min-width: 2560px) {
    fieldset{
      width: 10vw;
    }
  }
