body {
  box-sizing: border-box;
}

/*  Set styling and to justify elements. */
.contact-container {
  color: #585554aa;
  font-weight: bold;
  margin: 0 auto;
  height: auto;
  width: 80vw;
  font-size: 12px;
  display: flex;
  height: 100%;
}

/* Set a back background color to match the background-image. */
.contact-wrap {
  position: relative;
  width: 70vw;
  margin: 5% auto;
  text-align: left;
  align-items: right;
}

.image {
  position: relative;
  width: 50%;
  height: 60vh;
  background-image: url('/image/backgroung-image2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  border-radius: 3px;
  display: none;
}

/* Set the from aligning in the center. */
fieldset {
  display: flex;
  width: 65vw;
  height: 100%;
  border: 0.5px solid rgba(137, 142, 132, 0.552);
  border-radius: 5px;
  margin: 0 auto;
  padding: 5%;
}

input,
section,
textarea {
  margin-bottom: 5%;
  width: 90%;
}

#bt {
  margin: 5px;
  height: 35px;
  width: 95.5%;
  margin-left: 0;
}

.invalid {
  border: 2px solid rgb(219, 68, 60);
  animation: shake 0.5s;
  border-radius: 3px;
}

.valid {
  border: 1px solid rgb(39, 69, 10);
  border-radius: 3px;
}

.bt {
  border: 2px solid rgb(68, 96, 124);
  background-color: rgb(99, 142, 159);
  border-radius: 3px;
  color: white;
  cursor: pointer;
}

.bt:hover {
  border: 2px solid rgb(206, 236, 176);
  background-color: rgb(68, 159, 68);
  color: white;
}

#show {
  width: 80%;
}

#hide {
  width: 70%;
}

@keyframes shake {
  0% {transform: translate(1px, 1px) rotate(0deg);}
  10% {transform: translate(-1px, -2px) rotate(-1deg);}
  20% {transform: translate(-3px, 0px) rotate(1deg);}
  30% {transform: translate(3px, 2px) rotate(0deg);}
  40% {transform: translate(1px, -1px) rotate(1deg);}
  50% {transform: translate(-1px, 2px) rotate(-1deg);}
  60% {transform: translate(-3px, 1px) rotate(0deg);}
  70% {transform: translate(3px, 1px) rotate(-1deg);}
  80% {transform: translate(-1px, -1px) rotate(1deg);}
  90% {transform: translate(1px, 2px) rotate(0deg);}
  100% {transform: translate(1px, -2px) rotate(-1deg);}
}

/* Medelstora devices (portrait tablets and large phones, 1000px and up) */
@media only screen and (min-width: 600px) {
  fieldset {
    width: 50vw;
  }
}
  /* Medelstora devices (portrait tablets and large phones, 1000px and up) */
  @media only screen and (min-width: 768px) {
    .contact-wrap {
      margin-top: 0;
    }

    fieldset {
      right: 0;
      display: flex;
      width: 80vw;
    }

    .image {
      width: 80%;
      display: flex;
    }

    form {
      width: 40%;
      margin-left: 5%;
    }
  }

  /* Medelstora devices (portrait tablets and large phones, 1000px and up) */
  @media only screen and (min-width: 1000px) {
    fieldset {
      padding-top: 3%;
      padding-bottom: 3%;
      width: 60vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 1200px and up) */
  @media only screen and (min-width: 1200px) {
    fieldset {    
      width: 55vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 1440px and up) */
  @media only screen and (min-width: 1440px) {
    fieldset {
      width: 50vw;
    }
  }

  /* Stora devices (portrait tablets and large phones, 1600px and up) */
  @media only screen and (min-width: 1600px) {
    fieldset {
      width: 45vw;
    }
  }

  @media only screen and (min-width: 1800px) {
    fieldset {
      width: 40vw;
    }
  }

  @media only screen and (min-width: 2100px) {
    fieldset {
      width: 35vw;
    }
  }
