body {
  box-sizing: border-box;
}

/*  Set styling and to justify elements. */
.contact-container {
  color: #585554aa;
  font-weight: bold;
  margin: 0 auto;
  height: auto;
  width: 80vw;
  font-size: 12px;
  display: flex;
}

/* Set a back background color to match the background-image. */
.contact-wrap {
  position: relative;
  width: 70vw;
  text-align: left;
  align-items: right;
  height: 80vh;
}

/* Set a block for an image. */
.image {
  display: none;
}

form {
  width: 100%;
  margin-left: 5%;
}


/* Set the from aligning in the center. */
fieldset {
  display: flex;
  width: 65vw;
  height: 90%;
  border: 0.5px solid rgba(137, 142, 132, 0.552);
  border-radius: 5px;
  margin: 0 auto;
  padding: 5%;
}

/* Set input's style. */
input,
section,
textarea {
  margin-bottom: 3%;
  width: 100%;
}

/* Set button's style. */
#bt {
  margin: 5px;
  height: 35px;
  width: 100%;
  margin-left: 0;
}

/* Set the button hover style when the button is available. */
#bt:hover {
  border: 2px solid rgb(98, 116, 79);
  background-color: rgb(82, 160, 82);
  color: white;
  cursor: pointer;
}

#show {
  width: 90%;
}

#hide {
  width: 100%;
  height: 50px;
}

.invalid {
  border: 2px solid rgb(244, 82, 12); 
  }
  

/* Medelstora devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  fieldset {
    width: 50vw;
  }
}

/* Medelstora devices (portrait tablets and large phones, 768px and up) */
@media only screen and (min-width: 768px) {
  .contact-wrap {
    width: 80vw;
    margin-top: 0;
  }

  fieldset {
    right: 0;
    display: flex;
    width: 80vw;
    height: 60vh;
    margin-top: 50px;
    border: 0.5px solid rgb(159, 158, 155);
    padding: 3%;
  }

  /* Add a image */
  .image {
    position: relative;
    width: 60%;
    height: 50vh;
    background-image: url('/image/backgroung-image3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right center;
    left: 0;
    border-radius: 3px;
  }

  form {
    width: 40%;
    padding-left: 3%;
  }

}
/* Medelstora devices (portrait tablets and large phones, 1000px and up) */
@media only screen and (min-width: 1000px) {
  fieldset {
    padding-top: 3%;
    padding-bottom: 3%;
    width: 60vw;
  }
}

/* Stora devices (portrait tablets and large phones, 1200px and up) */
@media only screen and (min-width: 1200px) {
  fieldset {
    width: 55vw;
  }
}

/* Stora devices (portrait tablets and large phones, 1440px and up) */
@media only screen and (min-width: 1440px) {
  fieldset {
    width: 50vw;
  }
}

/* Stora devices (portrait tablets and large phones, 1600px and up) */
@media only screen and (min-width: 1600px) {
  fieldset {
    width: 45vw;
    padding-top: 2%;
  }
}

/* Stora devices (portrait tablets and large phones, 1800px and up) */
@media only screen and (min-width: 1800px) {
  fieldset {
    width: 35vw;
  }
}