#policy {
  position: fixed;
  bottom: 5%;
  height: 20vh;
  width: 100%;
  color: white;
  background-color: rgb(78, 75, 75);
  text-align: center;
}

.main-content {
  background-color: rgb(35, 31, 31);
  padding-top: 22%;
  width: 100%;
  height: 90vh;
  z-index: 1;

}

.portfolio {
  display: grid;
  margin: 0 auto;
  width: 90%;
  height: 60%;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(5, 1fr);

  z-index: 2;
  font-size: 10px;
}

.portfolio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top left;
  -webkit-filter: opacity(20%);
  filter: opacity(50%);
  background-size: cover;
}

.portfolio-item a {
  color: white;
  text-decoration-line: none;
  font-size: 1.5em;
}

.portfolio-item:hover {
  transition: 0.3s;
  filter: opacity(100%);
  color: rgb(255, 255, 255);
}

.small {
  grid-row: span 1;
  grid-column: span 1;
}

.medium {
  grid-row: span 2;
  grid-column: span 2;
}

.large {
  grid-row: span 3;
  grid-column: span 3;
}

.tall {
  grid-row: span 3;
  grid-column: span 2;
}

.wide {
  grid-row: span 2;
  grid-column: span 3;
}

.one {
  background-image: url(/image/1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15%;
}

.tow {
  background-image: url(/image/2.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 2%;
}

.three {
  background-image: url(/image/3.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 5%;
}

.four {
  background-image: url(/image/4.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-right: 5%;
  margin-bottom: 10%;
}

.five {
  background-image: url(/image/8.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin: 6%;
}

.six {
  background-image: url(/image/9.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15%;
}

.seven {
  background-color: darkcyan ;
  margin: 5%;
}
.portfolio p {
  color: rgb(195, 182, 182);
  width: 30%;
  font-size: 1.5em;

}

@media only screen and (min-width: 600px) {}