/* Set a background image and to justify elements. */
.survey-container {
  background-image: url(/image/survey-s.jpg); 
  background-repeat: no-repeat;
  background-size:cover;
  height: 90%;
  color: white;
  margin: auto;
}

/* Set a back background color and opacity to make the text on the image easier to read.*/
.survey-wrap {
  padding: 2% 2%;
  width: 75%;
  height: 100%;
  margin-left: 13%;
  background-color: #0000007c;
  text-align: left;
}

/* Style the fieldset to let it match to survey-wrap div*/
fieldset {
  margin-top: 20px;
  font-size: 12px;
  padding: 15px;
  border-radius: 5px;
}

/* Set the style for the bottom of the send. */
#send {
  margin-bottom: 10px;
  width: 99%;
  height: 30px;
  background-color: #4CAF50;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 12px;
}

/* Change the color of send bottom on hover.*/
#send:hover {
  transition: 0.1s ease;
  background-color: #91a092;
  color:  #66e666;
  border: 3px solid white;
  cursor: pointer;
}

/* Style the reset bottom.*/
#reset {
  margin-bottom: 30px;
  width: 99%;
  height: 30px;
  background-color: #353131;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  font-size: 12px;
}
/* Change the color of reset bottom on hover.*/
#reset:hover {
  transition: 0.1s ease;
  background-color: #91a092;
  color:  #353131;
  border: 3px solid white;
  cursor: pointer;
}

/* Let style change automatically according to device screen size..*/
@media (min-width: 426px) and (max-width: 768px){

  .survey-container {
    background-image: url(/image/survey-s.jpg); 
    background-position: bottom left;
  }
  
  .survey-wrap {
    width: 50%;
    margin-left: 40%;
  }
  
  fieldset {
    font-size: 13px;
  }
  
  #send {
    font-size: 13px;
  }

  #reset {
    font-size: 13px;
  }
}


@media (min-width: 769px) and (max-width: 1439px){

  .survey-container {
    background-image: url(/image/survey.jpg); 
    background-position: bottom right;
    
  }
  
  .survey-wrap {
    width: 32%;
    margin-left: 5%;
  }
  
  fieldset {
    font-size: 14px;
  }
  
  #send {
    font-size: 14px;
  }

  #reset {
    font-size: 14px;
  }
}

@media (min-width: 1440px) and (max-width: 2559px){

  .survey-container {
    background-image: url(/image/survey.jpg); 
    background-position: center right;
  }
  
  .survey-wrap {
    width: 20%;
    margin-left: 5%;
  }
  
  fieldset {
    font-size: 14px;
  }
  
  #send {
    font-size: 14px;
  }

  #reset {
    font-size: 14px;
  }
}

@media (min-width: 2560px){
  
.survey-container {
  background-image: url(/image/survey.jpg); 
  background-position: center right;

}

.survey-wrap {
  width: 18%;
  margin-left: 5%;
}

fieldset {
  font-size: 14px;
}

#send {
  font-size: 14px;
}

#reset {
  font-size: 14px;
}
}